<link rel="import" href="../../bower_components/iron-meta/iron-meta.html">
<iron-meta key="server" value="http://51.38.239.158:6060/"></iron-meta>
<iron-meta key="gMap" value="AIzaSyCjeOZcJSBXd8yKfgwX5BFmFJ-KOPjaXIg"></iron-meta>
