<!--link rel="import" href="elements/shared-imports.html"-->
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="screen-splash.html">
<link rel="import" href="elements/base-class.html">
<link rel="import" href="elements/my-meta.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<dom-module id="taxi-app">
    <template>
        <iron-localstorage name="user" value="{{userStorage}}" on-iron-localstorage-load="loadedUserInfo"
        on-iron-localstorage-load-empty="loadUserInfoEmpty"></iron-localstorage>
        <style include="iron-flex iron-flex-alignment">
        :host {
            display: block;
            height: 100vh;
            /* Typography */
            --primary-text-color:#000000DE;
            --primary-background-color:var(--paper-grey-50);
            --secondary-text-color:#00000089;
            --disabled-text-color:#00000060;
            --divider-color:#0000001E;

            /* Primary and accent colors */
            --primary-color:var(--paper-teal-500);
            --light-primary-color:var(--paper-teal-200);
            --dark-primary-color:var(--paper-teal-700);

            --accent-color:var(--paper-amber-a400);
            --light-accent-color:var(--paper-amber-a100);
            --dark-accent-color:var(--paper-amber-a700);
            --paper-datatable-selection-toolbar-text-color:var(--paper-pink-a200) !important;
            --paper-datatable-selection-toolbar-icon-color:var(--paper-pink-a200) !important;
        }
    </style>
    <paper-dialog id="dialogError" modal>
        <h2>Error</h2>
        <p>[[errorMessage]]</p>
        <div class="buttons">
            <paper-button dialog-confirm autofocus>OK</paper-button>
        </div>
    </paper-dialog>
    <div>
        <iron-pages selected="{{selectedScreen}}" attr-for-selected="name" role="main">
            <screen-splash name="splash"></screen-splash>
            <screen-login name="login" on-logged-in="connect"></screen-login>
            <screen-main name="main"></screen-main>
        </iron-pages>
    </div>
</template>

<script>
    /* eslint-disable no-undef,max-len,no-console */

    let socket;
    let app;

    class TaxiApp extends BaseClass {
        static get is() {
            return 'taxi-app';
        }

        static get properties() {
            return {
                selectedScreen: {
                    type: String,
                    value:'splash'
                },
                userStorage: {
                    type: Object,
                },
            };
        }

        connectSocket(token) {
            const serverAddress = document.createElement('iron-meta').byKey('server') + 'operators';
            socket = io(serverAddress, {
                query: 'token=' + token,
                forceNew: true,
            });
            socket.on('error', function(error) {
                console.log(error);
                if (error.type === 'UnauthorizedError' || error.code === 'invalid_token') {
                    app.gotoLoginPage();
                }
                if (!isNaN(error)) {
                    app.showErrorMessageForId(error);
                    app.gotoLoginPage();
                }
            }.bind(this));
            socket.on('disconnect', function() {
                console.log('disconnected');
            });
            socket.on('connect', function() {
                console.log('connected');
                app.gotoMainPage();
            });

            socket.on('callRequested', function(callData) {
                console.log(callData);
                app.$.toast1.text = app.localize('toast-call-request',
                    'driverName', callData.driverName,
                    'riderName', callData.riderName,
                    'riderNumber', callData.riderNumber);
                app.$.toast1.open();
            });
            socket.connect();
        }

        attached() {
            super.attached();
            app = this;
        }

        connect(event) {
            if (event.detail) {
                this.connectSocket(event.detail);
            } else {
                this.gotoLoginPage();
            }
        }

        loadedUserInfo() {
            if(this.userStorage && this.userStorage.token){
                this.connectSocket(this.userStorage.token);
            }else{
                this.gotoLoginPage();
            }
        }

        loadUserInfoEmpty() {
            this.gotoLoginPage();
        }

        showErrorMessageForId(errorId) {
            this.showErrorMessage(app.localize('error-'+errorId));
        }

        showErrorMessage(text) {
            app.set('errorMessage',text);
            app.$.dialogError.open();
        }

        gotoLoginPage() {
            this.selectedScreen = 'login';
            const resolvedPageUrl = this.resolveUrl('screen-login.html');
            this.importHref(resolvedPageUrl, null, null, true);
        }

        gotoMainPage() {
            this.selectedScreen = 'main';
            const resolvedPageUrl = this.resolveUrl('screen-main.html');
            this.importHref(resolvedPageUrl, null, null, true);
        }
    }

    customElements.define(TaxiApp.is, TaxiApp);
</script>
</dom-module>
