<link rel="import" href="../../bower_components/iron-meta/iron-meta.html">
<iron-meta key="server" value="http://127.0.0.1:8080/"></iron-meta>
<iron-meta key="gMap" value="AIzaSyCjeOZcJSBXd8yKfgwX5BFmFJ-KOPjaXIg"></iron-meta>
