<link rel="import" href="../../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/bwt-datatable/bwt-datatable-card.html">
<link rel="import" href="../../../bower_components/bwt-datatable/bwt-datatable.html">
<link rel="import" href="../../../bower_components/bwt-datatable/bwt-datatable-column.html">
<link rel="import" href="../../elements/base-class.html">
<dom-module id="page-complaints">
    <template>
        <style>
        :host {
            display: block;
            padding: 10px;
        }
    </style>
    <paper-datatable-card id="dataTableCard" header="{{localize('complaints')}}" data-source="{{data}}" page-size="10" id-property="id" selected-ids="{{selectedIds}}">
        <div slot="toolbar-main">
            <paper-input id="searchInput" value="{{searchTerm}}" label="{{localize('table-search')}}" style="display:inline-block" no-label-float>
                <div slot="prefix">
                    <iron-icon icon="search"></iron-icon>
                </div>
            </paper-input>
            <paper-icon-button icon="cached" on-tap="refreshTable"></paper-icon-button>
            <paper-toggle-button id="tglIsReviewed" on-click="refreshTable" style="display:inline-flex">
                {{localize('show-reviewed')}}
            </paper-toggle-button>
        </div>
        <div slot="toolbar-select">
            <paper-icon-button id="markAllReviewed" icon="icons:done-all" on-tap="markAllReviewed"></paper-icon-button>
            <paper-tooltip for="markAllReviewed">{{localize('mark-reviewed')}}</paper-tooltip>
        </div>
        <div slot="toolbar-select-single">
            <paper-icon-button id="showTravel" icon="icons:description" on-tap="showTravelInfo"></paper-icon-button>
            <paper-tooltip for="showTravel">{{localize('show-travel')}}</paper-tooltip>
        </div>
        <paper-datatable id="datatable" selectable multi-selection selected-items="{{selectedItems}}">
            <div slot="no-results">
                {{localize('table-loading')}}
            </div>
            <paper-datatable-column header="{{localize('column-id')}}" property="id" type="String" sortable></paper-datatable-column>
            <paper-datatable-column header="{{localize('column-datetime')}}" property="inscription_timestamp" type="String" sortable format-value="{{timestampFormatter}}"></paper-datatable-column>
            <paper-datatable-column header="{{localize('column-from')}}" property="from" type="String" sortable></paper-datatable-column>
            <paper-datatable-column header="{{localize('column-type')}}" property="complaint" type="String"></paper-datatable-column>
            <paper-datatable-column header="{{localize('column-subject')}}" property="subject" type="String"></paper-datatable-column>
            <paper-datatable-column header="{{localize('column-content')}}" property="content" type="String"></paper-datatable-column>
        </paper-datatable>
    </paper-datatable-card>
</template>
<script>
    let complaintPage;
    class PageComplaints extends BaseClass {
        static get is() {
            return 'page-complaints';
        }

        static get properties() {
            return {
                data: {
                    type: Object,
                    value: {
                        get:  function (sort, page, pageSize) {
                            let complaints =  app.getRows(complaintPage,'complaint',{'is_reviewed':complaintPage.$.tglIsReviewed.checked},sort,page,pageSize,['subject','content'],complaintPage.searchTerm);
                            complaints.then(function (items) {
                                items.map(function (item) {
                                    if (item.fromRider !== 0)
                                        item.from = complaintPage.localize('driver');
                                    else
                                        item.from = complaintPage.localize('rider');
                                });
                            });
                            return complaints;
                        },
                        set: function (item, property, value) {
                            return null;
                        },
                        length: 0
                    },
                },
                searchTerm : String
            }
        }

        attached () {
            super.attached();
            complaintPage = this;
        }
        markAllReviewed () {
            socket.emit('markComplaintsReviewed', this.selectedIds, function (result) {
                if (result === 200) {
                    complaintPage.$.dataTableCard.retrieveVisibleData();
                    complaintPage.$.dataTableCard.deselectAll();
                }
                else
                    alert('Not Saved');
            });
        }
        showTravelInfo () {
            app.set('route.path', '/travels/' + this.selectedItems[0].travel_id);
            //this.$.subRoute.data =  {id:this.selectedItems[0].travel_id};
            window.location =  '/travels/' + this.selectedItems[0].travel_id ;
        }
        refreshTable (ev) {
            this.$.dataTableCard.retrieveVisibleData();
        }
    }
    customElements.define(PageComplaints.is, PageComplaints);
</script>
</dom-module>
