<link rel="import" href="../../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/bwt-datatable/bwt-datatable-card.html">
<link rel="import" href="../../../bower_components/bwt-datatable/bwt-datatable.html">
<link rel="import" href="../../../bower_components/bwt-datatable/bwt-datatable-column.html">
<link rel="import" href="../../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../elements/base-class.html">
<dom-module id="page-payment-requests">
	<template>
		<style>
		:host {
			display: block;
			padding: 10px;
		}
	</style>
	<paper-datatable-card id="dataTableCard" header="{{localize('payment-requests')}}" data-source="{{data}}" page-size="10" id-property="id" selected-ids="{{selectedIds}}">
		<div slot="toolbar-main">
			<paper-input id="searchInput" value="{{searchTerm}}" on-input="refreshTable" label="{{localize('table-search')}}" style="display:inline-block" no-label-float>
				<div slot="prefix">
					<iron-icon icon="search"></iron-icon>
				</div>
			</paper-input>
			<paper-icon-button icon="cached" on-tap="refreshTable"></paper-icon-button>
			<paper-toggle-button id="tglIsPaid" on-click="refreshTable" style="display:inline-flex">
				{{localize('show-paid')}}
			</paper-toggle-button>
		</div>
		<div slot="toolbar-select">
			<paper-icon-button id="markAllPaid" icon="icons:done-all" on-tap="onMarkAllPaid"></paper-icon-button>
			<paper-tooltip for="markAllPaid">{{localize('mark-paid')}}</paper-tooltip>
		</div>
		<paper-datatable id="datatable" selectable multi-selection
		selected-items="{{selectedItems}}">
		<div slot="no-results">
			{{localize('table-loading')}}
		</div>
		<paper-datatable-column header="{{localize('column-id')}}" property="id"
		sortable
		style="width: 5%" align="center" sorted></paper-datatable-column>
		<paper-datatable-column header="{{localize('column-driver-name')}}" property="driver_first_name"></paper-datatable-column>
		<paper-datatable-column header="{{localize('column-driver-number')}}" property="driver_mobile_number"></paper-datatable-column>
		<paper-datatable-column header="{{localize('column-request-date')}}" property="request_date" sortable></paper-datatable-column>
		<paper-datatable-column id="colPaidDate" header="{{localize('column-payment-date')}}" property="paid_date" sortable></paper-datatable-column>
		<paper-datatable-column header="{{localize('column-amount')}}" property="amount" sortable></paper-datatable-column>
		<paper-datatable-column header="{{localize('column-account-number')}}" property="account_number"></paper-datatable-column>
		<paper-datatable-column header="{{localize('column-comment')}}" property="comment" onchange="addComment" editable></paper-datatable-column>
		<!--TODO:Make sure Comment field works because of set problems and whatsoever-->
	</paper-datatable>
</paper-datatable-card>
</template>
<script>
	let paymentRequestsPage;
	class PagePaymentRequests extends BaseClass {
		static get is() {
			return 'page-payment-requests';
		}

		static get properties() {
			return {
				data: {
					type: Object,
					value: {
						get: function (sort, page, pageSize) {
							var join = [
								{
									table: "driver",
									as: "driver",
									on: "driver_id",
									fields: [
										{
											field: 'first_name',
											as: 'driver_first_name'
										},
										{
											field: 'mobile_number',
											as: 'driver_mobile_number'
										}
									]
								}
							];
							return app.getRelationRows(paymentRequestsPage,'payment_request',join,{status:paymentRequestsPage.status},sort,page,pageSize,['account_number'],paymentRequestsPage.searchTerm);
						},
						set: function (item, property, value) {
							return app.setColumnValue('payment_request', item.id, property, value);
						},
						length: 0
					},
				},
				status: {
					type : String,
					value: 'pending'
				}
			}
		}

		attached () {
			super.attached();
			paymentRequestsPage = this;
		}
		onMarkAllPaid () {
			socket.emit('markPaymentRequestsPaid', this.selectedIds, function (result) {
				if (result === 200) {
					paymentRequestsPage.$.dataTableCard.retrieveVisibleData();
					paymentRequestsPage.$.dataTableCard.deselectAll();
				}
				else
					alert('Not Saved');
			});
		}
		showTravelInfo () {
			app.set('route.path', '/driver/' + this.selectedItems[0].fk_driver);
		}
		refreshTable (ev) {
			if (paymentRequestsPage.status == 'pending') {
				paymentRequestsPage.status = 'paid';
			}else{
				paymentRequestsPage.status = 'pending';
			}
			this.$.dataTableCard.retrieveVisibleData();
		}
		addComment(ev){
			console.log(ev.detail.data);
		}
	}
	customElements.define(PagePaymentRequests.is, PagePaymentRequests);
</script>
</dom-module>
