<link rel="import" href="../../../bower_components/salte-rating/salte-rating.html">
<link rel="import" href="../../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/bwt-datatable/bwt-datatable-card.html">
<link rel="import" href="../../../bower_components/bwt-datatable/bwt-datatable.html">
<link rel="import" href="../../../bower_components/bwt-datatable/bwt-datatable-column.html">
<dom-module id="page-travels">
  <app-route
          route="{{route}}"
          pattern="/:id"
          data="{{routeData}}">
  </app-route>
    <template>
        <style include="iron-flex iron-flex-alignment">
        :host {
            display: block;
        }
        #dataTableCard {
            padding: 10px;
        }
    </style>
    <paper-dialog id="dlgDetails" style="max-width:800px;min-height:300px;" entry-animation="scale-up-animation" exit-animation="fade-out-animation">
        <h2>{{localize('edit-dialog-item-number')}}<span>{{item.id}}</span></h2>
        <div class="vertical layout">
            <div class="horizontal layout">
                <div class="vertical layout">
                    <h4 style="margin-bottom:0">Driver details</h4>
                    <div class="horizontal layout">
                        <paper-input type="text" value="[[item.driver.first_name]]" label="{{localize('column-first-name')}}" class="flex" readonly></paper-input>
                        <paper-input type="text" value="[[item.driver.last_name]]" label="{{localize('column-last-name')}}" class="flex" readonly></paper-input>
                        <paper-input type="text" value="[[item.driver.mobile_number]]" label="{{localize('column-mobile-number')}}" class="flex" readonly></paper-input>
                    </div>
                    <h4 style="margin-bottom:0">Rider details</h4>
                    <div class="horizontal layout">
                        <paper-input type="text" value="[[item.rider.first_name]]" label="{{localize('column-first-name')}}" class="flex" readonly></paper-input>
                        <paper-input type="text" value="[[item.rider.last_name]]" label="{{localize('column-last-name')}}" class="flex" readonly></paper-input>
                        <paper-input type="text" value="[[item.rider.mobile_number]]" label="{{localize('column-mobile-number')}}" class="flex" readonly></paper-input>
                    </div>
                </div>
                <iron-image id="imgMap" style="margin: 8px 0px 8px 8px;" class="flex"></iron-image>
            </div>
            <div class="horizontal layout">
                <paper-input value="[[item.pickup_address]]" label="{{localize('column-pickup-address')}}" class="flex" readonly></paper-input>
                <paper-input value="[[item.destination_address]]" label="{{localize('column-destination-address')}}" class="flex" readonly></paper-input>
            </div>
            <div class="horizontal layout">
                <paper-input value="{{item.distance_best}}" label="{{localize('column-distance-estimated')}}" class="flex" readonly></paper-input>
                <paper-input value="{{item.distance_real}}" label="{{localize('column-distance-real')}}" class="flex" readonly></paper-input>
                <paper-input value="{{item.duration_best}}" label="{{localize('column-duration-estimated')}}" class="flex" readonly></paper-input>
                <paper-input value="{{item.duration_real}}" label="{{localize('column-duration-real')}}" class="flex" readonly></paper-input>
                <paper-input value="{{item.cost_best}}" label="{{localize('column-cost')}}" class="flex" readonly></paper-input>
            </div>
            <div class="horizontal layout">
                <paper-input name="address" value="{{timestampFormatter(item.request_time)}}" label="{{localize('column-request-time')}}" class="flex" readonly></paper-input>
                <paper-input name="address" value="{{timestampFormatter(item.start_timestamp)}}" label="{{localize('column-start-time')}}" class="flex" readonly></paper-input>
                <paper-input name="address" value="{{timestampFormatter(item.finish_timestamp)}}" label="{{localize('column-finish-time')}}" class="flex" readonly></paper-input>
            </div>
        </div>
        <div class="buttons">
            <paper-button dialog-confirm autofocus>{{localize('confirm')}}</paper-button>
        </div>
    </paper-dialog>
    <paper-datatable-card id="dataTableCard" header="{{localize('travels')}}" data-source="{{data}}" page-size="10" id-property="id" selected-ids="{{selectedIds}}">
        <div slot="toolbar-main">
            <paper-input value="{{searchTerm}}" on-input="refreshTable" label="{{localize('table-search')}}" style="display:inline-block">
                <div slot="prefix">
                    <iron-icon icon="search"></iron-icon>
                </div>
            </paper-input>
            <paper-icon-button icon="cached" on-tap="refreshTable"></paper-icon-button>
        </div>
        <div slot="toolbar-select">
        </div>
        <div slot="toolbar-select-single">
            <paper-icon-button id="btnShowTravelDetails" icon="icons:description" on-tap="onShowTravelDetails"></paper-icon-button>
            <paper-tooltip for="btnShowTravelDetails">{{localize('show-travel')}}</paper-tooltip>
        </div>
        <paper-datatable id="datatable" selectable selected-item="{{item}}" on-row-tap="rowTapped">
            <div slot="no-results">
                {{localize('table-loading')}}
            </div>
            <paper-datatable-column header="{{localize('column-id')}}" property="id" sortable></paper-datatable-column>
            <paper-datatable-column header="{{localize('column-status')}}" property="status"></paper-datatable-column>
            <paper-datatable-column header="{{localize('column-pickup-address')}}" property="pickup_address"></paper-datatable-column>
            <paper-datatable-column header="{{localize('column-destination-address')}}" property="destination_address"></paper-datatable-column>
            <paper-datatable-column header="{{localize('column-rating')}}" property="rating">
                <template>
                    <salte-rating value="[[starConverter(value)]]" icon="star" disabled></salte-rating>
                </template>
            </paper-datatable-column>
            <paper-datatable-column header="{{localize('column-request-time')}}" property="request_time" sortable format-value="{{timestampFormatter}}"></paper-datatable-column>
        </paper-datatable>
    </paper-datatable-card>
</template>
<script>
    let travelsPage;
    class PageTravels extends BaseClass {
        static get is(){
            return 'page-travels';
        }

        static get properties(){
            return {
                data: {
                    type: Object,
                    value: {
                        get: function (sort, page, pageSize) {
                            return app.getRows(travelsPage,'travel',{},sort,page,pageSize,[],'');
                        },
                        set: function (item, property, value) {
                            return null;
                        },
                        length: 0
                    }
                },
            };
        }

        attached () {
            super.attached();
            if (this.route.path) {
              var id = this.route.path.split("\/")[1];
              console.log(this.data[0]);
              this.$.dlgDetails.open();
            }
            travelsPage = this;
        }

        onShowTravelDetails () {
            this.$.imgMap.src = "https://maps.googleapis.com/maps/api/staticmap?size=250x200&path=weight:3|color:orange|enc:" + this.item.log + "&markers=color:blue%7Clabel:P%7C" + this.item.pickup_point.y + "," + this.item.pickup_point.x + "&markers=color:green%7Clabel:D%7C" + this.item.destination_point.y + "," + this.item.destination_point.x;
            this.$.dlgDetails.open();
        }
        refreshList (ev) {
            this.$.dataTableCard.retrieveVisibleData();
        }
    }
    customElements.define(PageTravels.is, PageTravels);
</script>
</dom-module>
