<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="my-meta.html">
<script type="text/javascript" src="../../bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="../../bower_components/socket.io-client/dist/socket.io.slim.js"></script>
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<dom-module id="base-class">
	<template>
		<iron-localstorage name="user" value="{{userStorage}}"></iron-localstorage>
	</template>
</dom-module>
<script>
	class BaseClass extends Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element) {
		static get is() {
			return 'base-class'
		}
		static get properties() {
			return {
				userStorage:{
					type:Object
				},
				language:{
					value:'en'
				}
			}
		}
		attached() {
			super.attached();
			this.loadResources(this.resolveUrl('../../../../../data/locales.json'));
			var lng = localStorage.getItem('language');
	if (lng) {
			var res = lng.split("\"")[1];
			this.language = res;
	}
		}
		refreshTable (ev) {
			this.$.dataTableCard.retrieveVisibleData();
		}

		timestampFormatter(value) {
			let date = moment(value).utc().format('LLL')
			return date;
		}

		getRows(context,table,filers,sort,page,pageSize,fullTextFields,fullTextValue) {
			let rows = new Promise(async function(resolve,reject) {
				socket.emit('getRows',table,filers,sort,(page - 1) * pageSize,pageSize,fullTextFields,fullTextValue,function (status,result) {
					if(status == 200) {
						resolve(result);
						return;
					}
					if(context.$.dataTableCard)
						context.$.dataTableCard._datatable.set('progress',false);
					if(status != 666)
						app.showErrorMessageForId(status);
					else
						app.showErrorMessage("An unknown error occured: \n" + JSON.stringify(result));
					reject(status);
				});
			});
			rows.then(function (result) {
				if(context && context.data)
					context.set('data.length',result.length > 0 ? result[0].count : 0);
			});
			return rows;
		}
		getRelationRows(context,table,joinTables,filers,sort,page,pageSize,fullTextFields,fullTextValue) {
		let rows = new Promise(async function(resolve,reject) {
			socket.emit('getRelationRows',table,joinTables,filers,sort,(page - 1) * pageSize,pageSize,fullTextFields,fullTextValue,function (status,result) {
				if(status == 200) {
					resolve(result);
					return;
				}
				if(context.$.dataTableCard)
					context.$.dataTableCard._datatable.set('progress',false);
				if(status != 666)
					app.showErrorMessageForId(status);
				else
					app.showErrorMessage("An unknown error occured: \n" + JSON.stringify(result));
				reject(status);
			});
		});
		rows.then(function (result) {
			if(context && context.data)
				context.set('data.length',result.length > 0 ? result[0].count : 0);
		});
		return rows;
	}
		getRefills(context,table,filers,sort,page,pageSize,fullTextFields,fullTextValue){
				let rows = new Promise(async function(resolve,reject) {
						socket.emit('getRefills',table,filers,sort,(page - 1) * pageSize,pageSize,fullTextFields,fullTextValue,function (status,result) {
								if(status == 200) {
										resolve(result);
										console.log(result);
										return;
								}
								if(context.$.dataTableCard)
										context.$.dataTableCard._datatable.set('progress',false);
								if(status != 666)
										app.showErrorMessageForId(status);
								else
										app.showErrorMessage("An unknown error occured: \n" + JSON.stringify(result));
								reject(status);
						});
				});
				rows.then(function (result) {
						if(context && context.data){
								context.set('data.length',result.length > 0 ? result[0].count : 0);
								console.log(result);
						}

				});
				return rows;
				console.log(rows);
}
		saveRow(table,row) {
			return new Promise(async function(resolve,reject){
				socket.emit('saveRow',table,row,function(status,result){
					if(status == 200) {
						resolve(result);
						return;
					}
					if(status != 666)
						app.showErrorMessageForId(status);
					else
						app.showErrorMessage("An unknown error occured: \n" + JSON.stringify(result));
					reject(status);
				});
			});
		}
		setColumnValue(table, id, column, value) {
			return new Promise(async function(resolve,reject){
				socket.emit('setColumnValue',table, id, column, value,function(status,result){
					if(status == 200) {
						resolve(result);
						return;
					}
					if(status != 666)
						app.showErrorMessageForId(status);
					else
						app.showErrorMessage("An unknown error occured: \n" + JSON.stringify(result));
					reject(status);
				});
			});
		}
		deleteRows(table,ids){
			return new Promise(async function(resolve,reject){
				socket.emit('deleteRows',table,ids,function(status,result){
					if(status == 200) {
						resolve(result);
						return;
					}
					if(status != 666)
						app.showErrorMessageForId(status);
					else
						app.showErrorMessage("An unknown error occured: \n" + result.toString());
					reject(status);
				});
			});
		}
		deleteRowsCustom(table,filter){
			return new Promise(async function(resolve,reject){
				socket.emit('deleteRowsCustom',table,filter,function(status,result){
					if(status == 200) {
						resolve(result);
						return;
					}
					if(status != 666)
						app.showErrorMessageForId(status);
					else
						app.showErrorMessage("An unknown error occured: \n" + JSON.stringify(result));
					reject(status);
				});
			});
		}
		markComplaintsReviewed(Ids) {
			return new Promise(async function (resolve, reject) {
				socket.emit('markComplaintsReviewed', Ids, function (result) {
					if (result === 200)
						resolve();
					else
						reject();
				});
			});
		}
		getImageAddressFromMedia(media){
			if(!media)
				return null;
			return this.getMediaPath(media);
		}
		getMediaPath(media){
			if(media.path_type === 'relative') {
				return document.createElement('iron-meta').byKey('server') + media.address;
			}
		}
		setImageFromMedia(image,mediaId){
			if(!mediaId)
				return null;
			socket.emit('getRows','media',{id:mediaId},{property:'id',direction:'asc'},0,1,[],'',function (status,result) {
				image.src = this.getMediaPath(result[0]);
			}.bind(this));
		}

		refreshTable (ev) {
			this.$.dataTableCard.retrieveVisibleData();
		}

		starConverter(valueInPercent) {
			if(valueInPercent)
				return parseFloat(valueInPercent) / 20;
			else
				return 0;
		}

		haveAccess(table,permission) {
			if(JSON.parse(window.localStorage.user).user['permission_' + table].split(',').indexOf(permission) > -1)
				return true;
			else
				return false;
		}
	}
	customElements.define(BaseClass.is, BaseClass);
</script>
