<link rel="import" href="../../../bower_components/salte-rating/salte-rating.html">
<link rel="import" href="../../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../../bower_components/bwt-datatable/bwt-datatable-card.html">
<link rel="import" href="../../../bower_components/bwt-datatable/bwt-datatable.html">
<link rel="import" href="../../../bower_components/bwt-datatable/bwt-datatable-column.html">
<link rel="import" href="../../../bower_components/paper-money-input-ench/paper-money-input-ench.html">
<link rel="import" href="../../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../elements/my-icons.html">

<dom-module id="page-refills">
    <template >
        <style include="iron-flex iron-flex-alignment">
        :host {
            display: block;
        }
        #dataTableCard {
            padding: 10px;
        }

        .review-card {
            margin: 10px;
        }

        .review-text {
            line-height: 50px;
        }
        paper-item {
            --paper-item: {
                cursor: pointer;
            };
        }
        paper-button.green {
            background: #8BC34A;
            color: white;
            height: 30px;
            top: 24px;
        }
    </style>
        <paper-datatable-card id="dataTableCard" header="{{localize('refills')}}" data-source="{{data}}" page-size="10" id-property="id">
            <div slot="toolbar-main">
                

            </div>
            <paper-datatable id="datatable"  >
                <div slot="no-results">
                    {{localize('table-loading')}}
                </div>
                <paper-datatable-column header="{{localize('column-id')}}" property="rfId" sortable align="center" style="width: 2%" sorted></paper-datatable-column>
                <paper-datatable-column header="{{localize('column-type')}}" property="type" sortable style="width: 2%"></paper-datatable-column>
                <paper-datatable-column header="{{localize('column-first-name')}}" property="firstname" style="width: 8%"></paper-datatable-column>
                <paper-datatable-column header="{{localize('column-last-name')}}" property="lastname" style="width: 8%"></paper-datatable-column>
                <paper-datatable-column header="{{localize('column-address')}}" property="address" style="width: 9%">
                    <template>
                        <!--<paper-button id="[[value]]" on-tap="doClick" data-args="[[value]]" class="[[value]]">-->
                            <!--<paper-avatar src="[[value]]"></paper-avatar>-->
                        <!--</paper-button>-->
                        <img src="http://51.38.239.158:7070/[[value]]" alt="" on-tap="doClick" width="50px" height="50px">

                    </template>
                </paper-datatable-column>
            </paper-datatable>
        </paper-datatable-card>
</template>

<script>
    let refillsPage;
    class PageRefills extends BaseClass {
        static get is() {
            return 'page-refills';
        }

        static get properties() {
            return {
                data: {
                    type: Object,
                    value: {
                        get: async function (sort, page, pageSize) {
                            //console.log(await app.getRefills(refillsPage,'refill_media',{},sort,page,pageSize,['refill_media.firstname'],refillsPage.searchTerm));
                            return app.getRefills(refillsPage,'refill_media',{},sort,page,pageSize,['firstname'],refillsPage.searchTerm);
                        },
                        set: function (item, property, value) {
                            return app.setColumnValue('refills', item.id, property, value);
                        },
                        length: 0
                    }
                },
                type: String,
                firstname: String,
                lastname: String,
                address: String,
                item:Object,
                transactions: Array,
                operatorId:Number
            }
        }
        attached () {
            super.attached();
            refillsPage = this;
        }
        doClick(e){
            window.location = e.target.src;
        }
    }


    customElements.define(PageRefills.is,PageRefills);
</script>
</dom-module>
