<link rel="import" href="../../../../bower_components/google-map/google-map.html">
<link rel="import" href="../../../elements/my-meta.html">

<dom-module id="widget-map">
	<template>
		<style>
		:host {
			display: block;
			width: 100%;
			box-shadow: var(--paper-material-elevation-1_-_box-shadow);
		}
		.map{
			width: 100%;
			height: 430px;

		}
	</style>
	<div>
		<iron-meta key="gMap" value="[[apiKey]]"></iron-meta>
<google-map id="map" fit-to-marker api-key="AIzaSyCjeOZcJSBXd8yKfgwX5BFmFJ-KOPjaXIg" class="map" draggable="true" styles="[[style]]" drag-events google-map-drag="onMapDragend">
				<template is="dom-repeat" items="{{markers}}">
				<google-map-marker slot="markers" icon="../../../images/marker_taxi.png" latitude="[[item.lat]]" longitude="[[item.lng]]"></google-map-marker>
			</template>

		</google-map>
	</div>
</template>
<script>
	let widgetMap;
	Polymer({
		is: 'widget-map',
		properties:{
			markers:{
				type:Array
			},
			apiKey:{
				type:String
			},
			style:{
				type:Array,
				value:[
				{
					"featureType": "administrative",
					"elementType": "geometry.fill",
					"stylers": [
					{
						"color": "#d6e2e6"
					}
					]
				},
				{
					"featureType": "administrative",
					"elementType": "geometry.stroke",
					"stylers": [
					{
						"color": "#cfd4d5"
					}
					]
				},
				{
					"featureType": "administrative",
					"elementType": "labels.text.fill",
					"stylers": [
					{
						"color": "#7492a8"
					}
					]
				},
				{
					"featureType": "administrative.neighborhood",
					"elementType": "labels.text.fill",
					"stylers": [
					{
						"lightness": 25
					}
					]
				},
				{
					"featureType": "landscape.man_made",
					"elementType": "geometry.fill",
					"stylers": [
					{
						"color": "#dde2e3"
					}
					]
				},
				{
					"featureType": "landscape.man_made",
					"elementType": "geometry.stroke",
					"stylers": [
					{
						"color": "#cfd4d5"
					}
					]
				},
				{
					"featureType": "landscape.natural",
					"elementType": "geometry.fill",
					"stylers": [
					{
						"color": "#dde2e3"
					}
					]
				},
				{
					"featureType": "landscape.natural",
					"elementType": "labels.text.fill",
					"stylers": [
					{
						"color": "#7492a8"
					}
					]
				},
				{
					"featureType": "landscape.natural.terrain",
					"stylers": [
					{
						"visibility": "off"
					}
					]
				},
				{
					"featureType": "poi",
					"elementType": "geometry.fill",
					"stylers": [
					{
						"color": "#dde2e3"
					}
					]
				},
				{
					"featureType": "poi",
					"elementType": "labels.icon",
					"stylers": [
					{
						"saturation": -100
					}
					]
				},
				{
					"featureType": "poi",
					"elementType": "labels.text.fill",
					"stylers": [
					{
						"color": "#588ca4"
					}
					]
				},
				{
					"featureType": "poi.park",
					"elementType": "geometry.fill",
					"stylers": [
					{
						"color": "#a9de83"
					}
					]
				},
				{
					"featureType": "poi.park",
					"elementType": "geometry.stroke",
					"stylers": [
					{
						"color": "#bae6a1"
					}
					]
				},
				{
					"featureType": "poi.sports_complex",
					"elementType": "geometry.fill",
					"stylers": [
					{
						"color": "#c6e8b3"
					}
					]
				},
				{
					"featureType": "poi.sports_complex",
					"elementType": "geometry.stroke",
					"stylers": [
					{
						"color": "#bae6a1"
					}
					]
				},
				{
					"featureType": "road",
					"elementType": "labels.icon",
					"stylers": [
					{
						"saturation": -45
					},
					{
						"lightness": 10
					},
					{
						"visibility": "on"
					}
					]
				},
				{
					"featureType": "road",
					"elementType": "labels.text.fill",
					"stylers": [
					{
						"color": "#41626b"
					}
					]
				},
				{
					"featureType": "road.arterial",
					"elementType": "geometry.fill",
					"stylers": [
					{
						"color": "#ffffff"
					}
					]
				},
				{
					"featureType": "road.highway",
					"elementType": "geometry.fill",
					"stylers": [
					{
						"color": "#c1d1d6"
					}
					]
				},
				{
					"featureType": "road.highway",
					"elementType": "geometry.stroke",
					"stylers": [
					{
						"color": "#a6b5bb"
					}
					]
				},
				{
					"featureType": "road.highway",
					"elementType": "labels.icon",
					"stylers": [
					{
						"visibility": "on"
					}
					]
				},
				{
					"featureType": "road.highway.controlled_access",
					"elementType": "geometry.fill",
					"stylers": [
					{
						"color": "#9fb6bd"
					}
					]
				},
				{
					"featureType": "road.local",
					"elementType": "geometry.fill",
					"stylers": [
					{
						"color": "#ffffff"
					}
					]
				},
				{
					"featureType": "transit",
					"elementType": "labels.icon",
					"stylers": [
					{
						"saturation": -70
					}
					]
				},
				{
					"featureType": "transit.line",
					"elementType": "geometry.fill",
					"stylers": [
					{
						"color": "#b4cbd4"
					}
					]
				},
				{
					"featureType": "transit.line",
					"elementType": "labels.text.fill",
					"stylers": [
					{
						"color": "#588ca4"
					}
					]
				},
				{
					"featureType": "transit.station",
					"elementType": "labels.text.fill",
					"stylers": [
					{
						"color": "#008cb5"
					}
					]
				},
				{
					"featureType": "transit.station.airport",
					"elementType": "geometry.fill",
					"stylers": [
					{
						"saturation": -100
					},
					{
						"lightness": -5
					}
					]
				},
				{
					"featureType": "water",
					"elementType": "geometry.fill",
					"stylers": [
					{
						"color": "#a6cbe3"
					}
					]
				}
				]
			}
		},
		attached:function(){
			widgetMap = this;
			this.$.map.dragEvents = true;
			this.$.map.addEventListener('google-map-dragend', function(e) {
				let point = widgetMap.$.map.map.getCenter();
				let latLng = {x:point.lng(),y:point.lat()};
				socket.emit('getDriversLocation', latLng, function(code,locations){
					widgetMap.set('markers',locations);
				});
			});
		},
		onMapDragend: function () {

		}
	});
</script>
</dom-module>
